/* Traemos las fuentes de nuestro servidor */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Establecemos unos minimos para poder gestionar los elementos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Definimos unos colores que nos permitan combinar para mejorar la accesibilidad, también definimos el ancho de página */
:root {
    --width-content: 1200px;
    /* --text-normal:
    --text-title:  */
    --backgroung-color:#E9D9C4;
    --primary-color: #888;
    --secondary-color: #8d093e5a;
    --text-color: #555;
    --hover-color: #ffa02e
}

/* Ayuda a definir estructura y distribución de los elementos, comentar cuando ya no sea necesario */
div {
  border: 2px solid black;
}

header {
    h1 {
        font-size: 4rem;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        text-align: center;
    }
}

nav {
    div {
        margin: 0 auto;
        width: var(--width-content);
    }
    ul {    
        display: flex;
        justify-content: space-between;
    }
    li {
        text-decoration: none;
        list-style: none;
    }
}

.sub-head {
    div {
        margin: 0 auto;
        width: var(--width-content);
    }
    img {
        width: 100%;
    }
}
